.encabezado{
    background: rgb(151, 225, 243);
background: linear-gradient(266deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 78%);
}
.encabezado h1, h2{
    color: rgb(0, 0, 0);
}

.encabezado img{
    height: 350px;
}

.rowlenguajes img{
    transition: transform 1s ease-in-out;
}

.rowlenguajes img:hover{
    transform: scale (1,2);
}

.filaform{
    width: 60%;
}